{% extends 'base.html' %}
{% block body %}
{% load crispy_forms_tags %}
<div class="container mt-5">
  <div class="row d-flex justify-content-around" style="color: white">
    <div class="col-6">
      <h2 class="ml-3">{{ movie.title }}</h2>
      <div class="container my-3">
        <div class="my-3">
          <a href="{% url 'movies:like' movie.pk %}">
            <i class="{% if user in movie.like_users.all %} fas {% else %} far {% endif %} fa-thumbs-up fa-2x mr-4" 
              style='color: {% if user in movie.like_users.all %} red {% else %} white {% endif %}'></i>
          </a> 
          <a style="font-size: 30px;">{{movie.like_users.count}}</a>
          <a href="{% url 'movies:hate' movie.pk %}">
            <i class="{% if user in movie.hate_users.all %} fas {% else %} far {% endif %} fa-thumbs-down fa-2x ml-4 mr-4" 
            style='color:{% if user in movie.hate_users.all %} red {% else %} white {% endif %}'></i>
          </a>
          <a style="font-size: 30px;"> {{movie.hate_users.count}}</a>
        </div>
        <hr align="center" style="border: solid 0.5px white; ">
        <div class="my-3">
          <p style='color:white;'>
            <span>GENRE</span>
            {% for genre in movie.genres.all %}
              <span><a href="{% url 'movies:genre_detail' genre.pk %}" style='color:white;'>{{ genre.name }}</a></span>
            {% endfor %}
          </p>
          <hr align="center" style="border: solid 0.5px white; ">
          <p>DIRECTOR {{movie.director}}</p>
          <hr align="center" style="border: solid 0.5px white; ">
          <p>OPEN DATE   {{movie.open_date}}</p>
          <hr align="center" style="border: solid 0.5px white; ">
          <p>
            <p>ACTOR</p>
            {% for actor in actors %}
              {% if forloop.counter == 1 %}
                <a href="{% url 'movies:actor_detail' actor.pk %}" style="color: white;">{{ actor.name }}</a>
              {% elif forloop.counter == 2 %}
                <a href="{% url 'movies:actor_detail' actor.pk %}" style="color: white;">, {{ actor.name }}</a>
              {% else %}
              {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <p><img src="{{movie.poster_url}}" width="300px" height="400px"></p>
    </div>
  </div>
  <br>
  <hr align="center" style="border: solid 0.5px white; width: 50%">
  <div class="mx-5" style="color: white">
    <div>
      <p class="d-flex justify-content-center">DESCRIPTION</p>
      <p class="d-flex justify-content-center">{{ movie.description }}</p>
    </div>
    {% if movie.video_key != "0" %}
      <hr align="center" style="border: solid 0.5px white; width: 50%">
      <div class="container d-flex justify-content-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ movie.video_key }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    {% endif %}
    <br>
    <hr align="center" style="border: solid 0.5px white; width: 50%">
    <div>
      <p class="d-flex justify-content-center">ACTOR</p>
      <div class="d-flex justify-content-center">
        {% for actor in actors %}
        <a href="{% url 'movies:actor_detail' actor.pk %}" style="color: white;"><figure class="figure">
          <img src="{{ actor.image_url }}" class="figure-img img-fluid rounded" alt="{{ actor.name }}">
          <figcaption class="figure-caption"><a href="{% url 'movies:actor_detail' actor.pk %}" style="color: white;">{{ actor.name }}</a></figcaption>
        </figure></a>
        {% endfor %}
      </div>
    </div>
    <hr align="center" style="border: solid 0.5px white; width: 50%">
    <div class="container row">
      <div class="col-6">
        <form action="{% url 'movies:create_comment' movie.pk %}" class="comment-form" method="POST" style='color:white;'>
          {% csrf_token %}
          <p>{{ comment_form|crispy }}
          <button type="button submit" style="background: transparent; border: none" ><span style="color:white">댓글 작성</span></button></p>
        </form>
        <div id="comment-{{ movie.pk }}">
          <table class="table mt-1" style="color:white">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">NAME</th>
                <th scope="col">COMMENT</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for comment in comments %}
              <tr>
                <th scope="row">{{ forloop.counter }} </th>
                <td><a href="{% url 'movies:userpage' comment.user.id %}" style="color:white">{{ comment.user }}</a></td>
                <td>{{ comment.content }}</td>
                <td>
                  {% if comment.user == request.user or request.user.is_superuser %}
                    {% if request.user == comment.user %}
                      <a class="btn btn-link btn-sm" href="{% url 'movies:user_comment_delete' movie.pk comment.pk %}"id="comment-delete" role="button" style="color:white">delete</a>
                    {% endif %}
                  {% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    
      <div class="col-6">
          <div class="mt-3">
            <p style="font-size: 20px;">score <font size = 4 id = "slider_score_view">0</font>
            </p>
          </div>
          <div>
             <form class="customizing mb-4" method="POST" action="{% url 'movies:score_create' movie.pk %}">
              {% csrf_token %}
              <input type="range" name="movie_score" min="0" max="10" class="score_range mb-4" value="0">
              <button type="button submit" style="background: transparent; border: none" ><span style="color:white">점수 주기</span></button></p>
            </form>
          </div>
          <table class="table mt-2" style="color:white">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">NAME</th>
                <th scope="col">COMMENT</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for score in scores %}
              <tr>
                <th scope="row">{{ forloop.counter }} </th>
                <td><a href="{% url 'movies:userpage' score.user.id %}" style="color:white">{{ score.user }}</a></td>
                <td>{{ score.score }}</td>
                <td>
                  {% if score.user == request.user or request.user.is_superuser %}
                    {% if request.user == score.user %}
                      <a class="btn btn-link btn-sm" href="{% url 'movies:user_score_delete' movie.pk score.pk %}"id="score-delete" role="button" style="color:white">delete</a>
                    {% endif %}
                  {% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table> 
      </div>
    </div>
  </div>
</div>





















{% endblock %}
{% block script %}
  <script>

    function ShowSliderScore(sVal)
    {
    	var scoreView = document.getElementById("slider_score_view");
    	scoreView.innerHTML = sVal
    }
    
    var scoreRange = function(){
    	var range = $('.score_range');
        
    	range.on('input', function(){		
    		ShowSliderScore(this.value);
    	});
    };
    
    scoreRange();
    
  </script>

    
{% endblock %}